<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
  <key>Label</key><string>com.__USER__.ax-autoscan</string>
  <key>ProgramArguments</key><array>
    <string>__PYTHON__</string><string>__RUNTIME__/ax_vault_autoscan.py</string>
  </array>
  <key>StartCalendarInterval</key><dict><key>Hour</key><integer>9</integer><key>Minute</key><integer>15</integer></dict>
  <key>RunAtLoad</key><false/>
  <key>StandardOutPath</key><string>__VHOME__/autoscan.log</string>
  <key>StandardErrorPath</key><string>__VHOME__/autoscan.log</string>
  <key>EnvironmentVariables</key><dict>
    <key>PATH</key><string>/opt/homebrew/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>AX_VAULT_HOME</key><string>__VHOME__</string>
    <key>AX_VAULT_AGE</key><string>__AGE__</string>
    <key>AX_SCAN_ROOTS</key><string>__SCAN_ROOTS__</string>
    <key>AX_SLACK_DM</key><string>__SLACK_DM__</string>
    <key>AX_SLACK_BOT_ENV</key><string>__SLACK_BOT_ENV__</string>
  </dict>
</dict></plist>
